* {
    
    font-family: 'Baloo Bhai 2', cursive;
}

body {
    margin: 0px;
    padding: 0px;
    background: url('/Gym/img/bg.jpg');
    background-size: cover;
    color: aliceblue;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 35px;
}

.left img {
    width: 100px;
    filter: invert(60%);
    padding: 0px 53px;
}

.alt {
    font-size: 25px;
    color: rgb(12, 51, 122);
    line-height: 45px;
    text-align: center;
}

.mid {
   /* border: 2px solid green;*/
    display: block;
    margin: 60px auto;
    width: 45%;
}

.right {
   /* border: 2px solid yellow;*/
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 60px;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: rgb(12, 51, 122);
    text-decoration: none;
    padding: 15px 10px;
}

.navbar li a:hover, .navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    margin: 0px 9px;
    padding: 5px 22px;
    background-color: rgb(12, 51, 122);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn:hover {
    background-color: rgb(4, 4, 54);
}

.container {
    border: 2px solid rgb(204, 204, 219);
    width: 33%;
    margin: 110px 30px;
    padding: 50px 60px;
    border-radius: 15px;
}

.container h1 {
    text-align: center;
}

.form-group input {
    text-align: center;
    display: block;
    margin: 3px auto;
    width: 250px;
    padding: 4px;
    border: 2px solid black
}

form .btn {
    display: block;
    margin: 12px auto;
}